snippet it "Itallic Text" b
_${1:Itallic Text}_ $0
endsnippet

snippet bold "Bold Text" b
**${1:Bold Text}** $0
endsnippet

snippet bcode "Codeblock" b
\`\`\`
$1
\`\`\`
$0
endsnippet

snippet icode "Inline Code" i
\`$1\`$0
endsnippet
