snippet senum "Encapsulate text in enum.." b
\begin{enumerate}
${VISUAL}$0
\end{enumerate}
endsnippet

snippet spar "Encapsulate text in parentheses" b
(${VISUAL})$0
endsnippet

snippet "
\`\`$1''$0
endsnippet

snippet itm "Insert \item .." b
\item $0
endsnippet
# vim: fdm=snippet:
